html, body{
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ----------START NAV BAR SECTION--------------------------- */

nav { 
    width: 100%;
    height: 24%;
}

.Nav-Container{ /*Parent of header nav*/
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-image: linear-gradient(to bottom right, #9ddee0, #acb1e6, #ffcff5, #ebed5c);
}

.Logo{
   height: 65%;
   width: 100%;
}

.Navigation{
    height: 35%;
    width: 100%;
}

nav img {
    height: 100px;
    margin: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
    
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: absolute;
    top: 77%;
}

/* -------FINISH NAVBAR SECTION-------------------- */


/* ----------START MAP SECTION--------------------------- */

.map-container{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(-90deg, #3bced3, #9fa7ff, #ffa6ed,#d2d42d, #70a2a4);
}


.map{
height: 70%;
width: 55%;
}

.aboutUs{
    height: 70%;
    width: 45%;
    padding-right: 2em;
}


.header-details{
    height: 15%;
}

.impression{
    height: 30%;
    line-height: 3em;
}

.contact{
    height: 45%;
    line-height: 2.8em;
}

/* THE END OF THE MAP PORTION */


/* -------/* ---------------------HERE STARTS THE FOOTER PORTION---------------------------------- */

footer{
    height: 39%;
}

.Footer-Container{
    height: 100%;
    border-top: 2px solid darkgrey;
    background-image: linear-gradient(-90deg, #9ddee0, #acb1e6, #ffcff5,#ebed5c, #9ddee0);
}

.Display-Half{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer-Pic-Container{
    width: 50%;
}

.Footer-Pic{
    margin: 0 0 0 4em;
}

.Company-Info{
    width: 50%;
    height: 85%;
}

.Info{
    margin-right: 2em;
    text-align: end;
    line-height: 3.5em;
}

.Info:hover{
color: #57483B;
}

.Social-Media{
    display: flex;
    column-gap: 10%;
    justify-content: center;
    align-items: center;
    margin-top: -1em;
}

/* -------/* ---------------------HERE ENDS THE FOOTER PORTION---------------------------------- */